<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/views/products.js"></script>
    <script src="/views/favorites.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body class = "login_prompt_section">
    <div class="topbar__container">
        <div class="test-container">
            <div class="topbar__titles-container">
                <div class="topbar__title">ApplianceMart</div>
                <div class="topbar__subtitle">Shop Us Last</div>
            </div>
        </div>
        <div class="topbar__search-bar-container">
            <form action="/results" href="results">
                <input type="text" name="searchInput" id="searchInput" placeholder="Search for Appliances">
            </form>
        </div>
        <div class="topbar__otheroptions">
            <a style="display: inline-block;" class="topbar__other-option" href="/cart">View Cart</a>
            <div>.</div>
            <div style="display: inline-block;" class="topbar__other-option" href="userSettings">User Settings</div>
        </div>
    </div>
    <div id="product-container">
        <div class="product-grid-information">
            <div class="product-left-grid">
                <div class="product-title-container">
                    <h3>Title:</h3>
                    <div id="product-title"></div>
                </div>
                <div class="product-description-container">
                    <h3>Description:</h3>
                    <div id="product-description"></div>
                </div>
            </div>
            <div class="product-right-grid">
                <div class="product-price-container">
                    <h3>Price:</h3>
                    <div id="product-price"></div>
                </div>
                <div class="product-favorited-container">
                    <h3>Number of Times Favorited:</h3>
                    <div id="product-favorited"></div>
                </div>
                <div class="product-star-container">
                    <h3>Average Number of Stars:</h3>
                    <div id="product-star"></div>
                </div>
            </div>
        </div>
        <h1 id="no-reviews" style="display: none;">No Reviews at this Time. Add one below!</h1>
        <table id="reviewTable">
            <tr>
                <th>Number of Stars</th>
                <th>Description</th>
            </tr>
        </table> 
        <div class="product-bottom-container">
            <button id = "favButton">Favorite</button>
            <button id = "leaveReview">Leave a Review</button>
            <div id="reviewSection"></div>
            <button id = "addToCart">Add to Cart</button>
        </div>
    </div>
</body>
</html>