body {
  margin: 0;
  padding: 0;
}

.topbar__container{
  height: 150px;
  background-color: #000020;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.topbar__titles-container {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Sofia", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topbar__subtitle {
  font-size: 30px;
}

#search-input {
  width: 400px;
  height: 30px;
}

.topbar__other-option {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Sofia", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  cursor: pointer;
}

.login_prompt_section {
  height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/views/pictures/istockphoto-182174877-612x612.jpg');
  background-size: cover;
}

/** DOING LOGIN FORM **/

input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #f44336;
}

.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

img.avatar {
width: 40%;
border-radius: 50%;
}

.container {
padding: 16px;
}

span.psw {
float: right;
padding-top: 16px;
}

.login__form {
  width: 500px;
  margin: auto;
}

.login_prompts {
  color: white;
  font-size: 20px;
}

.top_choices-title {
  margin-left: 10px;
  color: black;
}

.item-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  height: 350px;
}

#resTable, tr, td {
  border: 10px solid gray;
  font-family: sans-serif;
  margin: 50px;
  font-size: 26px;
  cursor: pointer;
}

.result-container {
  text-align: center;
}

td:nth-of-type(4) {
  display: none;
}

.product-grid-information {
  display: grid;
  grid-template-columns: minmax(auto, 1400px) auto;
  font-size: 22px;
}

.product-left-grid {
  padding: 20px;
}
.product-right-grid {
  padding: 20px;
}


